.center_component_row_direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 3%;
    // background-color: brown;
  }
}

.row {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 1.2fr repeat(4, 1.2fr) 0.7fr;
}

.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}