table {
    width: 100%;
    margin-bottom: 100px;

    border-collapse: separate; /* Don't collapse */
  border-spacing: 0;

    thead {
        tr {            
            border: solid 1px;
        }
    }

    .table_head {
        border-bottom: solid 1px;
    
    }

}

thead {
    border-bottom: solid 1px;
}
