<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a class="logo-text link" href="index.html">DATA WAREHOUSE</a>
        </div>
        <div class="links">
            <a class="link" href="contacts.html">Contacts</a>
            <a class="link" href="#">Companies</a>
            <a class="link" href="users.html">Users</a>
            <a class="link" href="#">Region/City</a>
        </div>
    </header>
    <div class="manageContacts">
        <section class="search"></section>
        <section class="contactsIO"></section>
        <section class="contactsList"></section>
    </div>
</body>
</html>