<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a357037438.js" crossorigin="anonymous"></script>
    <title>Data Warehouse</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a class="logo-text link" href="index.html">DATA WAREHOUSE</a>
        </div>
        <div class="links">
            <a class="link" href="contacts.html">Contacts</a>
            <a class="link" href="#">Companies</a>
            <a class="link" href="users.html">Users</a>
            <a class="link" href="#">Region/City</a>
        </div>
    </header>
    <div class="form-container">
        <form action="" class="login-form">
            <h2 class="title">Welcome</h2>
            <input type="text" placeholder="User" class="input userName" required>
            <input type="password" placeholder="Password" class="input password" required>
            <input type="submit" class="button-send" value="SEND">
        </form>
    </div>
    <script type="module" src="./scripts/login.js"></script>
    <script src="https://kit.fontawesome.com/a357037438.js" crossorigin="anonymous"></script>
</body>
</html>