<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://kit.fontawesome.com/a357037438.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a class="logo-text link" href="index.html">DATA WAREHOUSE</a>
        </div>
        <div class="links">
            <a class="link" href="contacts.html">Contacts</a>
            <a class="link" href="#">Companies</a>
            <a class="link" href="#">Users</a>
            <a class="link" href="#">Region/City</a>
        </div>
    </header>
    <div class="form-container">
        <form action="" class="signUp-form">
            <h2 class="title">Create user</h2>
            <label for="Name" class="label">
                Name <input type="text" class="input name" id="Name">
            </label>
            <label for="lastName" class="label">
                Last Name <input type="text" class="input lastName" id="lastName">
            </label>
            <label for="email" class="label">
                Email <input type="email" class="input email" id="email">
            </label>
            <label for="profile" class="label">
                Profile <input type="text" class="input profile" id="profile">
            </label>
            <label for="password" class="label">
                Password <input type="password" class="input password" id="password">
            </label>
            <label for="repeatPassword" class="label">
                Repeat Password <input type="password" class="input repeatPassword" id="repeatPassword">
            </label>
            <input type="submit" class="button-send button-create input" value="CREATE">
        </form>
    </div>
    <script src="scripts/signUp.js"></script>
</body>
</html>