.contacts-general-container {
  margin: 8vh 8vh 0 8vh;
  display: grid;
  grid-template-areas:
    "search import-export"
    "contacts contacts";

  .search,
  .export-import {
    height: 20vh;
  }
  .search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .export-import {
    grid-area: import-export;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts-table {
    position: relative;
    grid-area: contacts;
    min-height: 60vh;
    .contacts-table-header {
      border: 1px solid #cccccc;
      position: relative;
      .selectedInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #cccccc;
        position: absolute;
        bottom: 115%;
        z-index: 0;
        .delete-selected {
          cursor: pointer;
        }
      }
      .contacts-table-header-menu {
        display: flex;
        flex-flow: row;
        padding-left: 0;
        justify-content: space-between;
        list-style: none;
      }
    }
    .contacts-table-body {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      .contact {
        .contact-row {
          display: flex;
          list-style: none;
          justify-content: space-between;
          padding-left: 0;
          .actions-container {
            cursor: pointer;
            .actions-dots {
              display: none;
            }
          }
        }
        .contact-row &:hover {
          background-color: aquamarine;
          display: block;
        }
      }
    }
  }
}
