.center_component_row_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col > * {
  margin: 3%;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.5fr 1.2fr (1.2fr)[4] 0.7fr;
      grid-template-columns: 0.4fr 1.5fr 1.2fr repeat(4, 1.2fr) 0.7fr;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  margin: 0;
}

.header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1D72C2;
}

.header .logo {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .logo .logo-text {
  text-decoration: none;
  font-size: 1.2rem;
  border-top: 4px solid #f8f5c2;
  border-bottom: 4px solid #f8f5c2;
  color: #f8f5c2;
}

.header .links {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .links .link {
  margin: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}

.form-container {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.form-container .login-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70%;
  width: 50%;
  padding: 0 10%;
  border: 1px solid #000000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-container .login-form .input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 10%;
  padding: 0;
}

.form-container .login-form .button-send {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form-container {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.form-container .signUp-form {
  width: 50%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #000000;
  padding: 0 5% 0 5%;
}

.form-container .signUp-form .label {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  margin: 1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-container .signUp-form .label .input {
  width: 100%;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manageContacts {
  width: 100vw;
  height: 90vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "search contactsIO" "contactsList contactsList";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 35% minmax(50%, max-content);
      grid-template-rows: 35% minmax(50%, -webkit-max-content);
      grid-template-rows: 35% minmax(50%, max-content);
}

.manageContacts .search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manageContacts .search .searchForm {
  height: 30%;
  width: 90%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "contact_input search_button";
  -ms-grid-columns: 90fr 10fr;
      grid-template-columns: 90fr 10fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-radius: 5px;
  position: relative;
}

.manageContacts .search .searchForm .contact_input {
  position: relative;
  height: 100%;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact_input;
}

.manageContacts .search .searchForm .contact_input input[type="text"] {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manageContacts .search .searchForm .contact_input .arrow_down_display_filter {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 3%;
}

.manageContacts .search .searchForm .search_result {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3px;
  padding: .5%;
  background-color: #e8e8e8;
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manageContacts .search .searchForm .search_result i {
  margin-left: 3px;
}

.manageContacts .search .searchForm #close {
  visibility: hidden;
  position: absolute;
}

.manageContacts .search .searchForm #close:checked ~ .search_result {
  display: none;
}

.manageContacts .search .searchForm .search_button {
  cursor: pointer;
  margin: 0 10%;
  border-radius: 5px;
  height: 100%;
  width: 70%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search_button;
  background-color: #ffffff;
  padding: 0;
}

.manageContacts .search .searchForm .search_button .fa-search {
  color: #1d72c2;
}

.manageContacts .search .searchForm #deploy-filter {
  position: absolute;
  visibility: hidden;
}

.manageContacts .search .searchForm #deploy-filter:checked ~ .filter {
  visibility: visible;
}

.manageContacts .search .searchForm .filter {
  visibility: hidden;
  width: 90%;
  height: 60vh;
  background-color: #ffffff;
  position: absolute;
  top: 110%;
  padding: 0 4% 0 4%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "labels inputs";
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
  z-index: 10;
}

.manageContacts .search .searchForm .filter label,
.manageContacts .search .searchForm .filter select,
.manageContacts .search .searchForm .filter input[type="text"] {
  height: 60%;
}

.manageContacts .search .searchForm .filter input[type="text"] {
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.manageContacts .search .searchForm .filter select {
  width: 70%;
}

.manageContacts .contactsIO {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contactsIO;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manageContacts .contactsIO .io_container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "btn_import btn_export btn_add";
  -ms-grid-columns: 1fr (4fr)[2];
      grid-template-columns: 1fr repeat(2, 4fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 65%;
  height: 35%;
}

.manageContacts .contactsIO .io_container .btn_import_contact {
  margin: 5px;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn_import;
  border: 1px solid #1d72c2;
  cursor: pointer;
}

.manageContacts .contactsIO .io_container .btn_import_contact .fa-upload {
  color: #1d72c2;
}

.manageContacts .contactsIO .io_container .btn_export_contact {
  margin: 5px;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: btn_export;
  color: #1d72c2;
  border: 1px solid #1d72c2;
  cursor: pointer;
}

.manageContacts .contactsIO .io_container .btn_export_contact .arrow_down_import_contact {
  margin-left: 4%;
  color: #1d72c2;
}

.manageContacts .contactsIO .io_container .btn_add_contact {
  margin: 5px;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: btn_add;
  background-color: #1d72c2;
  border: 1px solid #1d72c2;
  color: #ffffff;
  cursor: pointer;
}

.manageContacts .contactsList {
  margin-top: 1.5%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contactsList;
  padding: 0 2% 0 2%;
  height: 100%;
}

.manageContacts .contactsList .contacts_list_table {
  width: 100%;
  height: 100%;
  position: relative;
}

.manageContacts .contactsList .contacts_list_table .info_action_row {
  margin-bottom: .2%;
  width: 100%;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
}

.manageContacts .contactsList .contacts_list_table .info_action_row .selected_amount {
  background-color: #8ec7fc;
  padding: 0.2% 1.5% 0.2% 1.5%;
  color: #1d72c2;
}

.manageContacts .contactsList .contacts_list_table .info_action_row .delete_contacts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manageContacts .contactsList .contacts_list_table .info_action_row .delete_contacts .fa-trash {
  margin: 0 3% 0 3%;
  color: #1d72c2;
}

.manageContacts .contactsList .contacts_list_table .info_action_row .delete_contacts span {
  font-size: 1.1rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d72c2;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_header {
  height: 10vh;
  border-top: 1px solid #b1a6a6;
  border-left: 1px solid #b1a6a6;
  border-right: 1px solid #b1a6a6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.5fr 1.2fr (1.2fr)[4] 0.7fr;
      grid-template-columns: 0.4fr 1.5fr 1.2fr repeat(4, 1.2fr) 0.7fr;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body {
  width: 100%;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border: 1px solid #b1a6a6;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row {
  width: 100%;
  height: 8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.5fr 1.2fr (1.2fr)[4] 0.7fr;
      grid-template-columns: 0.4fr 1.5fr 1.2fr repeat(4, 1.2fr) 0.7fr;
  background-color: #fff;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row:hover {
  background-color: #e8e8e8;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .contact_row .contact_photo_name_email_container {
  background-color: aqua;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "photo name" "photo email";
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .contact_row .contact_photo_name_email_container .photo {
  width: 2rem;
  height: 2rem;
  background-color: brown;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .contact_row .contact_photo_name_email_container .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .contact_row .contact_photo_name_email_container .email {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: email;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .country_region_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .company_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .position_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .preferred_channel_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .interest_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .interest_row .bar {
  width: 100%;
  height: 20%;
  background-color: #b1a6a6;
  border-radius: 4px;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .interest_row .bar .percentage {
  height: 100%;
  width: 75%;
  border-radius: 4px;
  background-color: #ff6f00;
}

.manageContacts .contactsList .contacts_list_table .contacts_list_table_body .row .actions_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-send {
  background-color: #1d72c2;
  color: #ffffff;
  padding: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

table {
  width: 100%;
  margin-bottom: 100px;
  border-collapse: separate;
  /* Don't collapse */
  border-spacing: 0;
}

table thead tr {
  border: solid 1px;
}

table .table_head {
  border-bottom: solid 1px;
}

thead {
  border-bottom: solid 1px;
}
/*# sourceMappingURL=main.css.map */