.modal-contact {
  width: 80vw;
  height: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: khaki;
  z-index: 10;
  .modal-contact-form {
    .main {
        display: flex;
      background-color: darkcyan;
    }
  }
}
